.featured {
  width: 100%;
  max-width: 1024px; 
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 15px; 
  box-sizing: border-box; 
  z-index: 1;
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  flex: 1; /* Makes each item grow equally */
  aspect-ratio: 1 / 1; /* Creates square containers */
  overflow: hidden; /* Ensures the image doesn't spill out of rounded corners */
  height: 250px;
}

.featuredImg {
  width: 100%;
  height: 100%; /* Ensures the image fills the entire container */
  object-fit: cover;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .featured {
    flex-direction: column; /* Stacks items vertically on smaller screens */
  }
}

.featuredTitles {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white; 
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
}

.featuredTitles h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.featuredTitles h2 {
  font-size: 16px;
  font-weight: 300;
}